@import "reset";
@import "variaveis";
@import "mobile";
@import "fonts";
@import "base";
.container {
    display: none;
}
@media  screen and (min-width:483px) {
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: blueviolet;
    }
    
    .container {
        display: block;
        width: 90%;
        height: 90%;
        position: relative;
    }
    
    /* Texto */
    
    h1 {
        font-size: 45px;
        color: white;
        position: fixed;
        top: 30%;
        left: 50%;
        font-family: 'Poppins', sans-serif;
        transform: translate(-50%, -50%);
    }
    
    p {
        position: fixed;
        color: white;
        margin: 10px;
    
        bottom: 0%;
        right: 0%;
    }
    
    /* Botões */
    
    button {
        font-size: 20px;
        width: 200px;
        height: 60px;
        border-radius: 8px;
        font-family: 'Poppins', sans-serif;
    }
    
    button:not(#no-button) {
        position: fixed;
        font-family: 'Poppins', sans-serif;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    #no-button {
        position: relative;
        background-color: white;
    
        top: 63%;
        left: 50%;
    
        transform: translate(-50%, -50%);
    }
    
    /* Coração */
    
    img {
        display: none;
        position: fixed;
        width: 400px;
        height: 400px;
    
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .amor {
        h5 {
            color: white;
            font-size: 25px;
            font-weight: bold;
            font-family:monospace;
        }
    }

}
.inovate {
    font-size: 35px;
    line-height: 1.1;
    letter-spacing: 1px;
}